/* @media print {
  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .daily_logo {
    height: 90px;
  }
  .daily_header {
    font-size: 12px;
    width: 100%;
    position: fixed;
    display: block;
    justify-content: center;
    text-align: center;
  }

  .content {
    display: block;
    height: 300px;
    border: 1px solid green;
  }
} */
div.page-footer {
  text-align: center;
  height: 50px;
  font-size: 10px;
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  width: 100%;
}

div.page-footer p {
  margin: 0;
}

.watermark {
  display: none;
  top: 50vh;
  z-index: -9;
  width: 50vw;
  page-break-after: always;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

table.report-container {
  font-size: 12px;
  page-break-after: always;
  width: 100%;
}

thead.report-header {
  display: table-header-group;

  font-size: 12px;
}

tfoot.report-footer {
  display: table-footer-group;
}

div.footer-info,
div.page-footer {
  display: none;
  height: 60px;
}
.header-info {
  display: flex;
  justify-content: center;
}
.header_logo {
  height: 90px;
}
.name {
  width: 40px;
}

/* .table-header,
.tr-header,
.th-header {
  border: 1px solid black;
  border-collapse: collapse;
} */

@media print {
  .main table,
  .main th,
  .main td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .main td {
    padding: 2px;
  }
  .watermark {
    display: block;
    counter-increment: page;
    position: fixed;
  }

  div.page-footer,
  div.footer-info {
    display: block;
  }
}
