@media print {
  * {
    font-size: 12px;
  }

  table,
  th,
  td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .table {
    width: 100%;
  }
  .daily_dues_report_container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-column-gap: 3px;
  }
  .table1 {
    grid-column: 1/2;
  }
  .table2 {
    grid-column: 2/3;
  }
  .table3 {
    grid-column: 3/4;
  }
  .table4 {
    grid-column: 4/5;
  }
  .total_table {
    margin: 10px;
  }
  h1 {
    text-align: center;
  }
}
